<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <div class="card panel-default">
        <div class="card-header bg-transparent">
            Administration
        </div>
        <div class="card-body">
            <div class="col-xs-12">
                <a class="card-link" th:href="@{/admin/gate-message}">Gate Message</a><br/>
                <a class="card-link" th:href="@{/admin/whitelist}">Whitelist</a><br/>
                <a class="card-link" th:href="@{/admin/email}">Email</a><br/>
                <a class="card-link" th:href="@{/admin/application/role}">Application Roles</a><br/>
                <a class="card-link" th:href="@{/campus}">Campuses</a><br/>
            </div>
            <div class="col-xs-12">
                <p></p>
            </div>
            <div class="col-xs-12">
                <a class="text-left" th:href="@{/user}">Login Attributes</a><br/>
                <a class="text-left" th:href="@{/admin/lookup}">LDAP User Lookup</a><br/>
            </div>
            <div class="col-xs-12">
                <p></p>
            </div>
            <div class="col-xs-12">
                <a class="text-left" th:href="@{/help/fonts}">Font Experiments</a><br/>
                <a class="text-left" th:href="@{/admin/icons}">Icon Examples</a><br/><br/>                
            </div>
        </div>
    </div>
</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>
