<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body ng-app="filedropApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <table class="table">
        <tr>
            <th>Email</th>
            <th></th>
        </tr>
        <tr>
            <td>Uploader</td>
            <td>
                <form class="form-inline" action="/admin/email" th:action="@{/admin/email}" method="POST">
                    <button type="submit" class="btn btn-outline-dark">Email</button>
                    <input name="template" type="hidden" value="uploader">
                </form>
            </td>
        </tr>
        <tr>
            <td>Receiver</td>
            <td>
                <form class="form-inline" action="/admin/email" th:action="@{/admin/email}" method="POST">
                    <button type="submit" class="btn btn-outline-dark">Email</button>
                    <input name="template" type="hidden" value="receiver">
                </form>
            </td>
        </tr>
        <tr>
            <td>Whitelist</td>
            <td>
                <form class="form-inline" action="/admin/email" th:action="@{/admin/email}" method="POST">
                    <button type="submit" class="btn btn-outline-dark">Email</button>
                    <input name="template" type="hidden" value="whitelist">
                </form>
            </td>
        </tr>
    </table>
</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>