<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--   Content container -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Font Experiments</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <br/>
                <span style='font-size: 30px; font-family: cinzel-regular;'>Fear &amp; Loathing (Cinzel regular)</span><br/>
                <span style='font-size: 30px; font-family: playfairdisplaysc-regular;'>Fear &amp; Loathing (Play Fair Display SC Regular)</span><br/>
                <span style='font-size: 30px; font-family: playfairdisplay-regular;'>Fear &amp; Loathing (Play Fair Display Regular)</span><br/>
                <span style='font-size: 30px; font-family: marcellus-regular;'>Fear &amp; Loathing (Marcellus Regular)</span><br/>
                <span style='font-size: 30px; font-family: alice-regular;'>Fear &amp; Loathing (Alice Regular)</span><br/>
                <span style='font-size: 30px; font-family: ovo-regular;'>Fear &amp; Loathing (Ovo Regular)</span><br/>
                <span style='font-size: 30px; font-family: vidaloka-regular;'>Fear &amp; Loathing (Vidaloka Regular)</span><br/>
                <span style='font-size: 30px; font-family: SourceSerifPro-Regular;'>Fear &amp; Loathing (Source Serif Pro Regular)</span><br/>
                <span style='font-size: 30px; font-family: cormorant-upright-regular;'>Fear &amp; Loathing (Cormorant Upright Regular)</span><br/>
                <span style='font-size: 30px; font-family: lato-regular;'>Fear &amp; Loathing (Lato Regular)</span><br/>
                <span style='font-size: 30px; font-family: librefranklin-regular;'>Fear &amp; Loathing (Libre Franklin Regular)</span><br/>
                <span style='font-size: 30px; font-family: opensans-regular;'>Fear &amp; Loathing (Opensans Regular)</span><br/>
                <span style='font-size: 30px; font-family: roboto-regular;'>Fear &amp; Loathing (Roboto Regular)</span><br/>
                <span style='font-size: 30px; font-family: alegreyasans-regular;'>Fear &amp; Loathing (Alegreyasans Regular)</span><br/>
                <span style='font-size: 30px; font-family: josefinsans-regular;'>Fear &amp; Loathing (Josefinsans Regular)</span><br/>
                <span style='font-size: 30px; font-family: raleway-regular;'>Fear &amp; Loathing (Raleway Regular)</span><br/>
                <br/>
            </div>
        </div>
    </div>
    <!-- / Contact container -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
