<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">
<head th:replace="header :: copy"></head>
<body>
<nav th:replace="menubar :: copy"></nav>
<div class="container">
    <h3>Gate Message</h3>
    <form action="" th:action="@{/admin/gate-message}" th:object="${message}" th:method="PUT">
        <div class="form-group">
            <input type="hidden" id="id" th:field="*{id}" th:value="${message.id}">
            <label for="message">Message:</label>
            <textarea class="form-control" id="message" th:field="*{text}" th:value="${message.text}"></textarea>
        </div>
        <button th:type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>