<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-bg">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Icon Examples</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <br/>
                <h4>Material Design</h4>

                <i class="material-icons md-18">cloud</i>
                <i class="material-icons md-24">cloud</i>
                <i class="material-icons md-36">cloud</i>
                <i class="material-icons md-48">cloud</i>
                <i class="material-icons md-36">cloud</i>
                <i class="material-icons md-24">cloud</i>
                <i class="material-icons md-18">cloud</i>
                <br/>

                <i class="material-icons md-18">cloud_queue</i>
                <i class="material-icons md-24">cloud_queue</i>
                <i class="material-icons md-36">cloud_queue</i>
                <i class="material-icons md-48">cloud_queue</i>
                <i class="material-icons md-36">cloud_queue</i>
                <i class="material-icons md-24">cloud_queue</i>
                <i class="material-icons md-18">cloud_queue</i>
                <br/>

                <i class="material-icons md-18">cloud</i>
                <i class="material-icons md-24 mi-green">cloud</i>
                <i class="material-icons md-36 mi-orange">cloud</i>
                <i class="material-icons md-48 mi-red">cloud</i>
                <i class="material-icons md-60 mi-lightblue" style="text-shadow:2px 2px 4px #000000;">cloud</i>
                <br/>

                <i class="material-icons md-18">cloud_circle</i>
                <i class="material-icons md-24">cloud_circle</i>
                <i class="material-icons md-36">cloud_circle</i>
                <i class="material-icons md-48">cloud_circle</i>
                <i class="material-icons md-36">cloud_circle</i>
                <i class="material-icons md-24">cloud_circle</i>
                <i class="material-icons md-18">cloud_circle</i>
                <br/>

                <i class="material-icons md-18">bubble_chart</i>
                <i class="material-icons md-24">bubble_chart</i>
                <i class="material-icons md-36">bubble_chart</i>
                <i class="material-icons md-48">bubble_chart</i>
                <i class="material-icons md-36">bubble_chart</i>
                <i class="material-icons md-24">bubble_chart</i>
                <i class="material-icons md-18">bubble_chart</i>
                <br/>

                <i class="material-icons md-18 mi-orange">face</i>
                <i class="material-icons md-24 mi-orange">face</i>
                <i class="material-icons md-36 mi-orange">face</i>
                <i class="material-icons md-48 mi-orange">face</i>
                <i class="material-icons md-36 mi-orange">face</i>
                <i class="material-icons md-24 mi-orange">face</i>
                <i class="material-icons md-18 mi-orange">face</i>
                <br/>

                <i class="material-icons md-18 mi-red">pie_chart</i>
                <i class="material-icons md-24 mi-red">pie_chart</i>
                <i class="material-icons md-36 mi-red">pie_chart</i>
                <i class="material-icons md-48 mi-red">pie_chart</i>
                <i class="material-icons md-36 mi-red">pie_chart</i>
                <i class="material-icons md-24 mi-red">pie_chart</i>
                <i class="material-icons md-18 mi-red">pie_chart</i>
                <br/>

                <i class="material-icons md-18 mi-blue">group_work</i>
                <i class="material-icons md-24 mi-blue">group_work</i>
                <i class="material-icons md-36 mi-blue">group_work</i>
                <i class="material-icons md-48 mi-blue">group_work</i>
                <i class="material-icons md-36 mi-blue">group_work</i>
                <i class="material-icons md-24 mi-blue">group_work</i>
                <i class="material-icons md-18 mi-blue">group_work</i>
                <br/>

                <i class="material-icons md-18">add_alert</i>
                <i class="material-icons md-36 mi-blue">error</i>
                <i class="material-icons md-48 mi-red" style="text-shadow:1px 1px 2px #000000;">error_outline</i>
                <i class="material-icons md-60 mi-orange" style="text-shadow:2px 2px 4px #4d4d4d;">warning</i>
                <i class="material-icons md-60 mi-yellow" style="text-shadow:2px 2px 4px #000000;">announcement</i>
                <br/><br/><br/>

                <h4>Font Awesome</h4>

                <i class="fa fa-google"></i>
                <i class="fa fa-google fa-2x"></i>
                <i class="fa fa-google fa-3x"></i>
                <i class="fa fa-google fa-4x"></i>
                <i class="fa fa-google fa-3x"></i>
                <i class="fa fa-google fa-2x"></i>
                <i class="fa fa-google"></i>
                <br/>

                <i class="fa fa-filter"></i>
                <i class="fa fa-filter fa-2x"></i>
                <i class="fa fa-filter fa-3x"></i>
                <i class="fa fa-filter fa-4x" ></i>
                <i class="fa fa-filter fa-3x"></i>
                <i class="fa fa-filter fa-2x"></i>
                <i class="fa fa-filter"></i>
                <br/>

                <i class="fa fa-pencil-square-o fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-2x fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-3x fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-4x fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-3x fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-2x fa-orange"></i>
                <i class="fa fa-pencil-square-o fa-orange"></i>
                <br/>

                <i class="fa fa-hand-scissors-o fa-blue"></i>
                <i class="fa fa-hand-scissors-o fa-2x fa-blue"></i>
                <i class="fa fa-hand-scissors-o fa-3x fa-blue"></i>
                <i class="fa fa-hand-spock-o fa-4x fa-blue"></i>
                <i class="fa fa-hand-scissors-o fa-3x fa-blue"></i>
                <i class="fa fa-hand-scissors-o fa-2x fa-blue"></i>
                <i class="fa fa-hand-scissors-o fa-blue"></i>
                <br/>

                <i class="fa fa-spinner fa-spin       fa-fw"></i>
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i>
                <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
                <br/>

                <i class="fa fa-check-square"></i>
                <i class="fa fa-check-square-o fa-2x"></i>
                <i class="fa fa-minus-square fa-3x"></i>
                <i class="fa fa-square-o fa-4x" ></i>
                <i class="fa fa-plus-square fa-3x"></i>
                <i class="fa fa-plus-square-o fa-2x"></i>
                <i class="fa fa fa-minus-square-o"></i>
                <br/>

                <i class="fa fa-google"></i>
                <i class="fa fa-google-plus fa-2x"></i>
                <i class="fa fa-google-plus-circle fa-3x"></i>
                <i class="fa fa-google-plus-official fa-4x" ></i>
                <i class="fa fa-google-plus-square fa-5x"></i>
                <br/>

                <i class="fa fa-check text-success"></i>
                <i class="fa fa-check fa-2x text-success"></i>
                <i class="fa fa-check fa-3x text-success"></i>
                <i class="fa fa-check fa-4x text-success"></i>
                <i class="fa fa-check fa-3x text-success"></i>
                <i class="fa fa-check fa-2x text-success"></i>
                <i class="fa fa-check text-success"></i>
                <br/>

                <i class="fa fa-ban text-danger"></i>
                <i class="fa fa-ban fa-2x text-danger"></i>
                <i class="fa fa-ban fa-3x text-danger"></i>
                <i class="fa fa-ban fa-4x text-danger" ></i>
                <i class="fa fa-ban fa-3x text-danger"></i>
                <i class="fa fa-ban fa-2x text-danger"></i>
                <i class="fa fa-ban text-danger"></i>
                <br/>

                <i class="fa fa-trash text-info"></i>
                <i class="fa fa-trash fa-2x text-info"></i>
                <i class="fa fa-trash fa-3x text-info"></i>
                <i class="fa fa-trash fa-4x text-info" ></i>
                <i class="fa fa-trash-o fa-3x text-info"></i>
                <i class="fa fa-trash-o fa-2x text-info"></i>
                <i class="fa fa-trash-o text-info"></i>
                <br/>

                <i class="fa fa-envelope"></i>
                <i class="fa fa-envelope fa-2x"></i>
                <i class="fa fa-envelope fa-3x"></i>
                <i class="fa fa-envelope fa-4x" ></i>
                <i class="fa fa-envelope-o fa-3x"></i>
                <i class="fa fa-envelope-o fa-2x"></i>
                <i class="fa fa-envelope-o"></i>
                <br/>

                <i class="fa fa-file"></i>
                <i class="fa fa-file fa-2x"></i>
                <i class="fa fa-file fa-3x"></i>
                <i class="fa fa-file fa-4x" ></i>
                <i class="fa fa-file-o fa-3x"></i>
                <i class="fa fa-file-o fa-2x"></i>
                <i class="fa fa-file-o"></i>
                <br/>

                <i class="fa fa-files-o"></i>
                <i class="fa fa-files-o fa-2x"></i>
                <i class="fa fa-files-o fa-3x"></i>
                <i class="fa fa-files-o fa-4x" ></i>
                <i class="fa fa-files-o fa-3x"></i>
                <i class="fa fa-files-o fa-2x"></i>
                <i class="fa fa-files-o"></i>
                <br/><br/><br/>
                
                <h4>Stacking Font Awesome Experiments</h4>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i id="tico" class="fa fa-flag fa-stack-1x fa-inverse"></i>
                </span><br/>
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-plus fa-stack-1x"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 ">
                <br/><br/>
            </div>
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
