<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-bg">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">LDAP Lookup</li>
            </ol>
        </nav>
        <div class="card" sec:authorize="hasAnyRole('ADMINISTRATOR', 'SUPERUSER')">
            <div class="card-header text-center">
                <div class="d-flex align-items-center">
                    <form class="form-inline w-100" th:action="@{/admin/lookup}" th:method="post" id="ldap_form">
                        <div class="form-group w-100">
                            <input name="search" placeholder="UH Number, username, or email" class="form-control w-100" type="search" autofocus="true"/>
                        </div>
                    </form>
                  </div>
           </div>
           <div class="card-body">
                <div th:if="${#strings.isEmpty(person.uid) == false}">
                    <p class="text-center" th:text="${person}"></p>
                </div>                
           </div>
        </div>

    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
