<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-bg">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </nav>
    <div th:if="${alert}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${alert}"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-transparent">
            <div class="row">
                <div class="col-sm-8">
                    <h5 class="card-title mt-2">Settings</h5>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-primary float-md-right" data-toggle="modal" data-target="#settingsModal">Add</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" th:each="setting : ${settings}">
                <div class="col-sm-8 mb-3">
                    <form th:action="@{/admin/settings/{id}(id=${setting.id})}" method="POST">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="${setting.getKey()}"></span>
                            </div>
                            <input name="id" type="hidden" th:value="${setting.getId()}">
                            <input name="value" class="form-control" type="text" th:value="${setting.getValue()}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Content container. -->
<div th:replace="admin/settings-modal :: copy"></div>
<div th:replace="footer :: copy"></div>
</body>
</html>
