<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>
    <div class="container">
        <h3>Technology</h3>
        <ul class="list-unstyled">
            <li>Apache Maven</li>
            <li>Apache Tomcat</li>
            <li>Java</li>
            <li>
                Spring Boot
                <a href="https://docs.spring.io/spring-boot/docs/2.1.6.RELEASE/reference/htmlsingle/" target="_sprgu">(Guide)</a>
                <a href="https://docs.spring.io/spring-boot/docs/2.1.6.RELEASE/api/" target="_sprapi">(API)</a>
            </li>
            <li>
                Spring Security
                <a href="https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/reference/htmlsingle/"
                    target="_sprsecgu">(Guide)</a>
                <a href="https://docs.spring.io/spring-security/site/docs/5.1.5.RELEASE/api/"
                    target="_sprsecapi">(API)</a>
            </li>
            <li>
                Spring Data JPA
                <a href="https://docs.spring.io/spring-data/jpa/docs/2.1.9.RELEASE/reference/html/" target="_sprdatgu">(Guide)</a>
                <a href="https://docs.spring.io/spring-data/jpa/docs/2.1.9.RELEASE/api/" target="_sprdatapi">(API)</a>
            </li>
            <li>
                Spring Data Commons
                <a href="https://docs.spring.io/spring-data/commons/docs/2.1.9.RELEASE/reference/html/"
                    target="_sprdatcogu">(Guide)</a>
                <a href="https://docs.spring.io/spring-data/commons/docs/2.1.9.RELEASE/api/"
                    target="_sprdatcoapi">(API)</a>
            </li>
            <li>
                Spring LDAP
                <a href="https://docs.spring.io/spring-ldap/docs/2.3.2.RELEASE/reference/"
                    target="_sprldapgu">(Guide)</a>
                <a href="https://docs.spring.io/spring-ldap/docs/2.3.2.RELEASE/apidocs/" target="_sprldapapi">(API)</a>
            </li>
            <li>
                Thymeleaf
                <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#introducing-thymeleaf"
                    target="_thylgu">(Guide)</a>
            </li>
            <li>
                Bootstrap
                <a href="https://getbootstrap.com/docs/3.3/" target="_boogu">(Guide)</a>
            </li>
            <li>
                AngularJS
                <a href="https://code.angularjs.org/1.5.8/docs/guide" target="_anggu">(Guide)</a>
                <a href="https://code.angularjs.org/1.5.8/docs/api" target="_angapi">(API)</a>
            </li>
            <li>
                AngularJS Bootstrap UI
                <a href="https://github.com/angular-ui/bootstrap/tree/2.2.0/src/modal/docs" target="_angguui">(API)</a>
            </li>
            <li>
                JQuery
                <a href="http://api.jquery.com/" target="_jquapi">(API)</a>
            </li>
            <li>
                Jasmine
                <a href="https://jasmine.github.io/" target="_jasmine">(Guide)</a>
            </li>
        </ul>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>