<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body ng-app="filedropApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container" ng-controller="WhitelistJsController" ng-init="init()" ng-cloak>
    <div class="row mb-2">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="search"><i class="fa fa-search"></i></span>
                </div>
                <input placeholder="Search UH username, date..." class="form-control" type="search"
                       ng-model="filter"
                       aria-describedby="search">
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary float-right" ng-click="openAddModal()">&plus; Whitelist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive" ng-if="whitelist.length > 0">
                <table class="table">
                    <tr>
                        <th>Entry</th>
                        <th>Registrant</th>
                        <th>Created</th>
                        <th>Expired</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="whitelisted in whitelist | filter:filter">
                        <td>{{ whitelisted.entry }}</td>
                        <td>{{ whitelisted.registrant }}</td>
                        <td>{{ whitelisted.created | date:'MM/dd/yyyy' }}</td>
                        <td>{{ whitelisted.expired }}</td>
                        <td>
                            <button class="btn btn-sm btn-danger" ng-click="openDeleteModal(whitelisted)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-center" ng-if="whitelist.length == 0">
                <div class="spinner-border" style="width: 2rem; height: 2rem; text-align: center" role="status">
                    <span class="sr-only">Loading Whitelist...</span>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="admin/whitelist-modal :: copy"></div>
</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>