<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body ng-app="filedropApp">
<nav th:replace="menubar :: copy"></nav>

<!--  Content container -->
<div class="container" ng-controller="WhitelistJsController" ng-init="init()">
    <table class="table">
        <tr>
            <th>Entry</th>
            <th>Registrant</th>
            <th>Created</th>
            <th>Expiration Check</th>
            <th>Expired</th>
        </tr>
        <tr ng-repeat="whitelisted in whitelist">
            <td>{{ getEntryName(whitelisted) }}</td>
            <td>{{ getRegistrantName(whitelisted) }}</td>
            <td>{{ whitelisted.created }}</td>
            <td>{{ whitelisted.check }}</td>
            <td>{{ whitelisted.expired }}</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary" ng-click="openModal()">&plus; Whitelist</button>
    <div th:replace="admin/whitelist-modal :: copy"></div>
</div>
<!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>