<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="header :: copy"></head>
<body>
<nav th:replace="menubar :: copy"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            The following files are available for download. Click on the file name to begin downloading. <br><br>
            These files will be removed and no longer available for download after
            <span th:text="${#temporals.format(fileDrop.getExpiration(), 'E, MMMM d, h:mm a z')}"></span>
            <br><br>
        </div>
        <div class="col-sm-12">
            <div class="table-responsive border border-dark">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">File name</th>
                        <th scope="col">Size (bytes)</th>
                        <th scope="col">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="fileSet : ${fileDrop.getFileSet()}">
                        <th scope="row"><a
                            th:href="@{/dl/{downloadKey}/{fileId}(downloadKey = ${fileDrop.getDownloadKey()}, fileId = ${fileSet.getId()})}"
                            class="btn btn-outline-dark btn-sm">
                            <i class="fa fa-cloud-download"></i></a></th>
                        <td><a
                            th:href="@{/dl/{downloadKey}/{fileId}(downloadKey = ${fileDrop.getDownloadKey()}, fileId = ${fileSet.getId()})}"
                            th:text="${fileSet.getFileName()}"></a></td>
                        <td th:text="${fileSet.getSize()}"></td>
                        <td th:text="${fileSet.getComment()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button class="btn btn-danger" data-toggle="modal" data-target="#expireModal">
                <i class="fa fa-trash"></i> Expire Now
            </button>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="expireModal" th:fragment="copy">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Expiration</h5>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to expire this drop? This <strong>can't</strong> be undone.
                </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger"
                    th:href="@{/expire/{downloadKey}(downloadKey = ${fileDrop.getDownloadKey()})}">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: copy"></div>
</body>
</html>