<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
<nav th:replace="menubar :: copy"></nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            The following files are available for download. Click on the file name to begin downloading. <br><br>
            These files will be removed and no longer available for download after
            <span th:text="${#temporals.format(fileDrop.getExpiration(), 'E, MMMM d, h:mm a z')}"></span>
            <br><br>
        </div>
        <div class="col-sm-12">
            <div class="table-responsive border border-dark">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">File name</th>
                        <th scope="col">Size (bytes)</th>
                        <th scope="col">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="fileSet : ${fileDrop.getFileSet()}">
                        <th scope="row"><a
                            th:href="@{/dl/{downloadKey}/{fileId}(downloadKey = ${fileDrop.getDownloadKey()}, fileId = ${fileSet.getId()})}"
                            class="btn btn-outline-dark btn-sm">
                            <i class="fa fa-cloud-download"></i></a></th>
                        <td th:if="${fileSet.getFileData() != null}">
                            <a
                            th:href="@{/dl/{downloadKey}/{fileId}(downloadKey = ${fileDrop.getDownloadKey()}, fileId = ${fileSet.getId()})}"
                            th:text="${fileSet.getFileData().getFileName()}"></a>
                        </td>
                        <td th:unless="${fileSet.getFileData() != null}">
                            <a
                                    th:href="@{/dl/{downloadKey}/{fileId}(downloadKey = ${fileDrop.getDownloadKey()}, fileId = ${fileSet.getId()})}"
                                    th:text="${fileSet.getFileName()}"></a>
                        </td>
                        <td th:text="${fileSet.getSize()}"></td>
                        <td th:if="${fileSet.getFileData() != null}" th:text="${fileSet.getFileData().getComment()}"></td>
                        <td th:unless="${fileSet.getFileData() != null}" th:text="${fileSet.getComment()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button class="btn btn-danger mt-3 float-right" data-toggle="modal" data-target="#expireModal">
                <i class="fa fa-trash"></i> Expire Now
            </button>
        </div>
    </div>

    <div th:replace="user/expire-modal :: copy"></div>
</div>
<div th:replace="footer :: copy"></div>
</body>
</html>