<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body ng-app="filedropApp">
<script th:inline="javascript">
    /*<![CDATA[*/
    var user = {
        cn: [[${cn}]],
        uid: [[${uid}]],
        mails: [[${mails}]]
    };
    var fileDrop = {
        sender: [[${sender}]],
        recipients: [[${recipients}]],
        expiration: [[${expiration}]],
        authentication: [[${authentication}]],
        message: [[${message}]]
    };
    /*]]>*/
</script>
<nav th:replace="menubar :: copy"></nav>

<div class="container" ng-controller="PrepareJsController" ng-init="init()">
    <div class="card border-success">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label class="filedrop-label" for="email">Sender</label>
                    <div class="input-group">
                        <input autocomplete="off" class="form-control" disabled name="email"
                               ng-if="!userHasMultipleEmails()"
                               ng-value="sender.model"
                               type="text">
                        <select class="custom-select" id="email" name="email" ng-cloak
                                ng-disabled="recipient.length > 0" ng-if="userHasMultipleEmails()" ng-model="sender.model">
                            <option ng-repeat="mail in sender.mails" value="{{mail}}">{{mail}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mb-3">
                    <label class="filedrop-label" for="recipient">Recipients</label>
                    <span class="ml-1 text-primary" href="#"
                          popover-trigger="'mouseenter click'"
                          th:attr="uib-popover=#{prepare.recipient.popup.text}, popover-title=#{prepare.recipient.popup.title}, popover-popup-delay=400">
                        <i class="fa fa-info-circle fa-lg"></i>
                    </span>
                    <form ng-submit="addRecipient(recipient)">
                        <div class="input-group">
                            <input autocomplete="off" class="form-control" id="recipient" name="recipient"
                                   ng-change="error = null"
                                   ng-class="{ 'is-invalid': error }"
                                   ng-model="recipient"
                                   placeholder="UH username, email address..."
                                   type="search"
                                   valid-recipient="true">
                            <div class="input-group-append">
                                <button class="btn btn-primary mx-2" ng-disabled="recipient.length === 0"
                                        type="submit">Add Recipient
                                </button>
                                <button class="btn btn-success" ng-click="sendSelf()" ng-disabled="disableSendSelf() || recipient.length > 0"
                                        type="button">
                                    Add Self
                                </button>
                            </div>
                        </div>
                        <small class="form-text text-danger" ng-cloak ng-if="error">{{ error.message }}</small>
                    </form>
                    <ul class="list-inline my-1" ng-cloak style="min-height: 35px;">
                        <li class="mr-2 my-1 list-inline-item" ng-repeat="r in recipients">
                            <span class="badge badge-light border-secondary border"
                                  style="font-size: .85em; color: #4d4d4d">
                                <span aria-label="Recipient name" class="mr-1 recipient-badge"
                                      ng-click="removeRecipient(r)">&times;</span>
                                {{r.name}}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="@{/prepare/}" th:method="POST">
                        <div class="form-row mb-3">
                            <div class="col-sm-12">
                                <label class="filedrop-label" for="validationRequired">Require Authentication</label>
                                <input name="sender" ng-value="sender.model" type="hidden">
                                <div class="form-check">
                                    <input class="form-check-input" id="validationRequired" name="validation"
                                           ng-disabled="recipient.length > 0"
                                           ng-model="authentication" ng-value="true" type="radio">
                                    <label class="form-check-label" for="validationRequired">
                                        Yes, require recipient to log in using the UH Login (recommended).
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="validationNotRequired" name="validation"
                                           ng-disabled="recipient.length > 0"
                                           ng-model="authentication" ng-value="false" type="radio">
                                    <label class="form-check-label" for="validationNotRequired">
                                        No login required (unsecure download available to anyone).
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-sm-12">
                                <label class="filedrop-label" for="expiration">Expiration Timer</label>
                                <div class="col-sm-4 px-0">
                                    <select class="custom-select" id="expiration" name="expiration"
                                            ng-disabled="recipient.length > 0" ng-model="expiration">
                                        <option value="30">30 minutes</option>
                                        <option value="60">1 hour</option>
                                        <option value="1440">1 day</option>
                                        <option value="2880">2 days</option>
                                        <option value="4320">3 days</option>
                                        <option value="5760">4 days</option>
                                        <option selected value="7200">5 days</option>
                                        <option value="8640">6 days</option>
                                        <option value="10080">7 days</option>
                                        <option value="20160">14 days</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mb-3">
                            <div class="col-sm-12">
                                <label class="filedrop-label" for="message">Optional Message</label>
                                <textarea class="form-control" id="message" name="message" ng-model="message"
                                          rows="3"></textarea>
                            </div>
                        </div>
                        <input name="recipients" ng-value="getRecipients()" type="hidden">
                        <button aria-label="" class="btn btn-primary pull-right" ng-disabled="disabled()" type="submit">
                            Next
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script id="popover" type="text/ng-template">
        <span th:text="#{prepare.recipient.popup.text}"></span>
    </script>

    <div th:replace="user/prepare-modal :: copy"></div>
</div>

<div th:replace="footer :: copy"></div>
</body>
</html>