<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: copy"></head>
<body>
<nav th:replace="menubar :: copy"></nav>

<div class="container">
    <div class="card border-success">
        <div class="card-body">
            <div class="col-sm-12">
                <form th:action="@{/helpdesk}" method="POST">
                    <div class="form-row mb-3">
                        <div class="col-sm-12">
                            <label for="sender" class="filedrop-label">Sender</label>
                            <input class="form-control" type="text" id="sender" name="sender" placeholder="Name..."
                                required>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-sm-12">
                            <label for="ticketNumber" class="filedrop-label">Ticket Number</label>
                            <input class="form-control" type="text" id="ticketNumber" name="ticketNumber"
                                placeholder="6 digit ticket number"
                                required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-sm-12">
                            <label for="recipient" class="filedrop-label">Recipients</label>
                            <input id="recipient" name="recipient" type="hidden" th:value="${recipientEmail}">
                            <ul class="list-inline">
                                <li class="mr-2 my-1 list-inline-item">
                                    <button type="button" class="btn btn-outline-dark btn-sm" disabled
                                        aria-label="Recipient name">
                                        <span th:utext="${recipient}"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-sm-12">
                            <label for="validationRequired" class="filedrop-label">Require Authentication</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="validation" id="validationRequired"
                                    value="true" checked disabled>
                                <label class="form-check-label" for="validationRequired">
                                    Yes, require recipient to log in using the UH Login (recommended).
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="validation"
                                    id="validationNotRequired"
                                    value="false" disabled>
                                <label class="form-check-label" for="validationNotRequired">
                                    No login required (unsecure download available to anyone).
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-sm-12">
                            <label for="expiration" class="filedrop-label">Expiration Timer</label>
                            <div class="col-sm-4 px-0">
                                <select class="custom-select" name="expiration" id="expiration">
                                    <option value="30">30 minutes</option>
                                    <option value="60">1 hour</option>
                                    <option value="1440" selected>1 day</option>
                                    <option value="2880">2 days</option>
                                    <option value="4320">3 days</option>
                                    <option value="5760">4 days</option>
                                    <option value="7200">5 days</option>
                                    <option value="8640">6 days</option>
                                    <option value="10080">7 days</option>
                                    <option value="20160">14 days</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col-sm-12">
                            <label for="message" class="filedrop-label">Optional Message</label>
                            <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary pull-right" aria-label="" type="submit">Next</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="user/prepare-modal :: copy"></div>
</div>

<div th:replace="footer :: copy"></div>
</body>
</html>