<script type="text/ng-template" id="prepareModal.html" th:fragment="copy">
    <div class="modal-header">
        <h5 class="modal-title">Authentication</h5>
    </div>
    <div class="modal-body">
        <div class="card bg-light">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            <i class="material-icons md-48 mi-red" style="text-shadow:1px 1px 2px #000000;">error_outline</i>
                        </div>
                        <div class="col-sm-10">
                            <p>
                                To add a recipient outside of the UH System you must have <em>Require Authentication</em> set to
                                "<b><em>No login required</em></b>"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="ok()">I understand</button>
        <button type="button" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</script>