<div class="modal" tabindex="-1" role="dialog" id="prepareModal" th:fragment="copy">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Authentication</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <i class="material-icons md-48 mi-red" style="text-shadow:1px 1px 2px #000000;">error_outline</i>
                                    <p>
                                        To add a recipient outside of the UH System you must have <em>Require Authentication</em> set to
                                        "<b><em>No login required</em></b>"
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">I understand</button>
            </div>
        </div>
    </div>
</div>