/* -------------------------------------------------------- */
.aquafy {
    background-color: aqua;
}
.pinkify {
    background-color: pink;
}
.orangeify {
    background-color: orange;
}
.greenify {
    background-color: lightgreen;
}
.goldify {
    background-color: gold;
}
.peruify {
    background-color: #CD853F;
}
.plumify {
    background-color: #DDA0DD;
}
.whiteify {
    background-color: white;
}
.redify {
    background-color: red;
}
.yellowify {
    background-color: #ffff66;
}
