/* -------------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background-color: white;
  margin-bottom: 50px;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  color: #0275d8;
  text-decoration: underline;
}

.navbar-brand.uh-nav-app-name { /* csslint allow: adjoining-classes */
  color: #bd9319;
  font-family: alegreyasans-regular, opensans-regular, serif;
  font-size: 26px;
  font-weight: normal;
}

.navbar-brand.uh-nav-app-name:hover { /* csslint allow: adjoining-classes */
  color: #b08a17;
}

.footer {
  bottom: 0;
  line-height: 50px;
  font-size: 100%;
  height: 50px;
  padding-top: 0.3125rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.uh-branding-one {
  font-family: cinzel-regular, serif;
  font-size: 1.8em;
  font-style: normal;
  letter-spacing: 2.2px;
  color: #777;
}

.uh-branding-two {
  font-family: cormorant-upright-regular, cursive;
  font-size: 1em;
  font-style: normal;
  color: #777;
}

.filedrop-label {
  font-weight: bold;
}

.recipient-badge {
  cursor: pointer;
  color: #7f7f7f;
}

.recipient-badge:hover {
  color: #111111;
}

.btn.btn-primary[disabled] {
  background-color: #63aeff;
  border-color: #63aeff;
}

.breadcrumb-bg {
  background-color: #F5F8FF;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  vertical-align: middle;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* csslint ignore:start */
/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-60 { font-size: 60px; }

.material-icons.mi-orange { color: orange; }
.material-icons.mi-red { color: red; }
.material-icons.mi-blue { color: blue; }
.material-icons.mi-green { color: green; }
.material-icons.mi-lightblue { color: lightblue; }
.material-icons.mi-yellow { color: yellow; }
/* csslint ignore:end */

.fa.fa-orange { color: orange; }
.fa.fa-red { color: red; }
.fa.fa-blue { color: #0275d8; }
.fa.fa-green { color: green; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
