<div th:fragment="copy" th:remove="tag">

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-5">
        <!-- Footer Links -->
        <div class="container-lg text-center text-md-left">
             <!-- Grid row -->
             <div class="row d-flex align-items-center">
               <!-- Grid column -->
               <div class="col-md-12 col-lg-12 col-xs-12">
                 <!--Copyright-->
                 <p class="text-center text-md-center">
                    <span class="uh-branding-one">University</span>
                    <span class="uh-branding-two">of&nbsp;</span>
                    <span class="uh-branding-one">Hawai&#8216;i</span>
                 </p>
               </div>
               <!-- Grid column -->
             </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->

    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/ng-file-upload/ng-file-upload.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/github-com-Morgul-ui-bootstrap4/3.0.5/ui-bootstrap-tpls-3.0.5.js}"></script>
    
    <script type="text/javascript" th:src="@{/javascript/app.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/app.service.js?ver=0.3}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.campus.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.role.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.prepare.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.upload.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.upload.helpdesk.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.allowlist.js?ver=0.3}"></script>

    <script type="text/javascript" th:src="@{/javascript/app.util.js?ver=0.2}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"
        src="webjars/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"
        src="webjars/respond/1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</div>