<div th:fragment="copy" th:remove="tag">
    <footer class="navbar navbar-light" th:fragment="copy">
        <div class="container">
            <span class="navbar-text text-center mx-auto">
                <span class="uh-branding-one">University</span>
                <span class="uh-branding-two">of&nbsp;</span>
                <span class="uh-branding-one">Hawai&#8216;i</span>
            </span>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/ng-file-upload/ng-file-upload.min.js}"></script>

    <script type="text/javascript" th:src="@{/javascript/app.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/app.service.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.campus.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.role.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.prepare.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.upload.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.upload.helpdesk.js?ver=0.2}"></script>
    <script type="text/javascript" th:src="@{/javascript/filedrop.controller.whitelist.js?ver=0.2}"></script>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/javascript/app.util.js?ver=0.2}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.min.js}"
        src="webjars/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/respond/1.4.2/dest/respond.min.js}"
        src="webjars/respond/1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</div>