<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-xs-12">
                    <p id="login-lead" th:text="${jumbotron}"></p>
                </div>
            </div>
            <div class="row" sec:authorize="isAnonymous()">
                <div id="login-forms">
                    <div class="col-xs-12 col-sm-6 login-form-row">
                        <table class="table table-condensed login-table">
                            <tr>
                                <td id="uh-login">
                                    <fieldset>
                                        <legend class="h4">UH Users</legend>
                                        <p style="padding-top: 0.4em;">
                                            <a class="btn btn-lg btn-success btn-block" th:href="@{/prepare}" style="min-width: 201px;">
                                                UH Login Here
                                            </a>
                                        </p>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-xs-12 col-sm-6 login-form-row">
                        <table class="table login-center-table login-table">
                            <tr>
                                <td id="nonuh-login">
                                    <form action="#" th:action="@{/validate}" method="post">
                                        <fieldset>
                                            <legend class="h4">Non-UH Users</legend>
                                            <table>
                                                <tr>
                                                    <td colspan="2">
                                                        If you do not have a UH Username, please provide your
                                                        name and email address below:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td><input type="text" id="name" name="name" size="20"/></td>
                                                </tr>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td><input type="text" id="email" name="email" size="20"/></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <button type="button" class="btn btn-xs btn-default">Continue</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    
                    </div>
                    
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form action="logout" th:action="@{/logout}" method="post">
                    <button class="btn btn-lg btn-default" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="row marketing">
            <div class="col-sm-6">
                <p class="h4">
                    <span th:text="#{home.contact}"></span>&nbsp;
                    <a th:href="@{/help/contact}" type="button" class="btn btn-default btn-xs">View</a>
                </p>
                <p th:text="#{home.contact.message}"></p>
            </div>
            <div class="col-sm-6">
                <p class="h4">
                    <span th:text="#{home.faq}"></span>
                    <a th:href="@{/help/faq}" type="button" class="btn btn-default btn-xs" th:text="View">View</a>
                </p>
                <p th:text="#{home.faq.message}"></p>
            </div>
        </div>
    </div>
    <!-- / Content container. -->

    <div th:replace="footer :: copy"></div>
</body>
</html>
