<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="header :: copy"></head>
<body>
    <nav th:replace="menubar :: copy"></nav>

    <!--  Content container -->
    <div class="container-lg mt-n4">
        <div class="row justify-content-md-center card-deck">
            <div class="card border-0">
                <div class="card-body text-center">
                    <span class="d-block d-sm-none"> </span>
                    <p class="card-text text-center lead text-muted" th:utext="${gatemessage}"></p>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 justify-content-md-center card-deck px-2 px-sm-0">
            <div class="card border-success ">
                <div class="card-header bg-transparent border-0 text-center">
                    <span class="lead">UH Users</span>
                </div>
                <div class="card-body text-left">
                    <a th:href="@{/prepare}" class="btn btn-success btn-lg w-100"
                       th:classappend="${disableLanding} ? disabled : ''">
                        UH Login Here
                    </a>
                </div>
            </div>
            <div class="card border">
                <div class="card-header bg-transparent border-0 text-center">
                    <span class="lead">Non-UH Users</span>
                </div>
                <div class="card-body text-left">
                    <p>If you do not have a UH username, please provide your name and email address below </p>
                    <form action="#" th:action="@{/validate}" th:method="POST">
                        <div class="form-group">
                            <label for="name">Name </label>
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="value">Email </label>
                            <input class="form-control" type="email" id="value" name="value" required>
                        </div>
                        <div class="form-group d-none">
                            <label for="value">Leave blank</label>
                            <input class="form-control" type="email" id="email" name="email">
                        </div>
                        <button type="submit" class="btn btn-outline-success" th:disabled="${disableLanding}">Continue</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row"><p></p></div>

        <div class="row row-cols-1 row-cols-sm-2 justify-content-md-center card-deck px-2 px-sm-0">
            <div class="card border">
                <div class="card-body text-left border-1 mb-0 pb-0">
                    <p class="card-text my-auto">
                        <p class="lead" th:text="#{home.contact}"></p>
                        <p th:text="#{home.contact.message}"></p>
                    </p>
                </div>
                <div class="card-footer border-0 mt-0 mb-0 pt-0 bg-transparent">
                    <a th:href="@{/help/contact}" class="btn btn-outline-success pull-left">View</a>
                </div>
            </div>
            <div class="card border">
                <div class="card-body text-left border-1 mb-0 pb-0">
                    <p class="card-text my-auto">
                        <p class="lead" th:text="#{home.faq}"></p>
                        <p th:text="#{home.faq.message}"></p>
                    </p>
                </div>
                <div class="card-footer border-0 mt-0 mb-0 pt-0 bg-transparent">
                    <a th:href="@{/help/faq}" class="btn btn-outline-success pull-left">View</a>
                </div>
            </div>
        </div>

    </div>
    <!-- / Content container. -->

<div th:replace="footer :: copy"></div>
</body>
</html>
